p.submit-cocotefeed {
    text-align: right;
    max-width: 100%;
    margin-top: 20px;
    padding-top: 10px;
}


.fieldset-cocotefeed {
    border-width: 1px;
    border-color: #ccc;
    border-style: solid;
    padding: 10px 5px 10px 10px;
    border-radius:8px;
}
